*{
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
}

.page-summary{
    margin-top: 50px;
    font-size: 14px;
    width: 380px;
    color: white;
}

.link-preview{
    display: flex;
    padding: 20px;
    border-radius: 50px;
    max-width: 300px;
    min-width: 250px; 
    margin-top: 25px;
}

a.link-preview, a.link-preview:link, a.link-preview:visited {
    color: white;
    border: solid white 2px;
}

a.link-preview:hover, a.link-preview:active{
    color: white;
    border: solid green 2px;
}

.link-row{
    display: flex;
    height: 40px;
}

.link-column{
    flex: 50%;
    float: left;
    margin-right:10px;
    height: 40px;
}

.link-header{
    max-width: 300px;
    min-width: 200px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transform: translateY(50%)
}

.link-image{
    width: 40px;
    margin-right: 200px;
    margin-top: -2px;
    background-color: white;
    border-radius: 50px;
    border: solid white 3px;
}

.link-button{
    border: solid #36454F 1px;
    padding-right: 20px; 
    padding-left: 20px; 
    padding-top:10px; 
    padding-bottom:10px; 
    border-radius: 20px; 
    width: 100px; 
    text-align: center; 
    font-size: 14px; 
    margin-bottom: 400px; 
    margin-right: 300px
}

a.link-button, a.link-button:link, a.link-button:visited{
    text-decoration: none !important;
    color: white;
}

a.link-button:hover, a.link-button:active{
    text-decoration: none !important;
    color: #36454F;
}

footer{
    position: fixed;
    bottom: 10px;
    width: 98%;
    color: white;
    background-color: black;
    text-align: right;
    font-size: 10px;
}